@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Genos', sans-serif;
}
h1, h2, h3 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #d3d3d3;

}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
header a {
    text-decoration: none;
    color: inherit;

}

#menu > li {
    margin-bottom: 0.5em;
}
#menu {
    font-size: 115%;
    letter-spacing: 2px;
    list-style-type: none;

}
.active {
    border-bottom: 1px #3a3a3a;

}
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}
main {
    
    flex: 1 0 auto;
    margin-top: 47px;
}
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/anime hero image.webp") no-repeat center center/cover;
    position: relative;
}
#photos img {
    width: 100%;
    line-height: 1em;
}
#photos {
    line-height: 0;
}

#social-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-links i {
    font-size: 150%;
    padding: 3%;
    color: #d3d3d3;
}
@media screen and (min-width:576px) {
#photos {
    column-count: 2;
    column-gap: 0;
}
}
    

}
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;

    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    main {
        margin-top: 79px;
    }
    #photos {
        column-count: 3;
        column-gap: 0;
    }
    
}
@media screen and (min-width: 992px) {
   #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    }
    #photos {
        column-count: 3;
        
    }

}
#small-anime {
    background: url('../images/anime\ hero\ image.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
